@use './variaveis';

.arcos{
    
    padding: 3vw 15.6vw;
    min-height: 60vw;
    justify-items: center;
    
    &__tabs{
        display: flex;
        justify-content: center;

        &__button{
            color: variaveis.$corTextoSegundario;
            font-size: 20px;
            border: none;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--is--active{
                border-color: variaveis.$corTextoSegundario;
                
                
            }
        }
    }

    &__list{

        display: none;
        grid-template-columns: repeat(3, 1fr);
        gap: 58px;
        margin-top: 30px;
        

        &--is--active{
            display: grid;
        }
        &__item{

            display: grid;
            width: 272px;
            height: 418px;
            position: relative;
            overflow: hidden;

            
      
            img{
                width: 100%;
                border-radius: 10px;
                height: 100%;
                object-fit: contain;
                cursor: pointer;
                transition: 0.4s ease;
            }
        }
        
    }

    &__flip{
            
            &__front{
                position: relative;
                width: 100%;
                height: 100%;
                cursor: pointer;
            
            }
            &__back{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6); // escurece
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                opacity: 0;
                transition: 0.4s ease;
                padding: 20px;

            }
            &:hover img {
                filter: brightness(0.5); // escurece levemente a imagem
                }

            &:hover .arcos__flip__back {
                opacity: 1;
            }

        }


}