@use './variaveis';

.header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$corDeFundo;
    transition: background-color .5s ease;
    z-index: 1;


    &--is-hidden{
        background-color: transparent;
        transition: background-color .5s ease;
        .header{
            &__logo, &__links__item:first-child{
                opacity: 0;
                visibility: hidden;
            }
        }
    }
    
    &__container{
        padding: 0px 3.52vw ;
        display: flex;
        justify-content: space-between;
        align-items: center;

         @media (max-width: 767px){
             justify-content: space-between;
            align-items: center;
        }

    }

    &__logo{
        max-width: 3.40vw;
        width: 100%;
        transition: opacity .5s ease;

        @media (max-width: 767px){
            max-width: 13.25vw;
        }

        @media (min-width:768px) and (max-width: 1440px){
            max-width: 7.25vw;
        }
        
    }

    &__links{

        display: flex;

        @media (max-width: 767px){
            margin-bottom: 0;
        }

        &__item{
            margin: 0.49vw;
            transition: opacity .5s ease;
        }
    }

    .button{
        
        display: flex;
        align-items: center;
        height: 2.5vw;
        width: 100%;
        letter-spacing: 1px;
        padding: 0px 0.98vw;
        text-transform: uppercase;
        border-radius: 0.49vw;
        text-decoration: none;
        color: variaveis.$corTextoSegundario;
        background-color: variaveis.$corDeFundoBotaoPrimario;

        &:hover{
            background-color: variaveis.$corDeFundoBotaoSecundario;
            color:  black;
        }



        @media (max-width:767px){
           
            height: 9.6VW;
            padding: 0px 2.9vw;
           
        }

        @media (min-width:768px) and (max-width: 1440px){
            height: 5.7vw;
        }
    }

}

