@use './variaveis';

.hero{
    padding:0vw 10.6vw;
    min-height: 97vh;
    background-image: url(../image/abc.png);
    text-align: center;
    background-size: 84% 48.13vw;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 767px){

        background-size: contain;
        background-repeat: no-repeat;
        min-height: 50vh;

    }

    @media (min-width: 768px) and (max-width: 1023px){
       
        background-size: 114% 72.34vw;
    }
    
    &__content {
        max-width: 62.5vw ;

        &__branding{
            max-width: 31.25vw;

            img{
                width: 53.56vw;
            }

            @media (max-width: 767px){
                max-width: 17.58vw;
            }

            .titulo--small{
                margin-bottom: 6.25vw;
                width: 42.48vw;
                margin-left: 4.49vw;
            }
        }
        
    }
}
