.maps{
    padding: 3vw 15.6vw;
    justify-items: center;

    
    iframe {

        @media(max-width: 768px){
            width: 200px;
            height: 200px;
        }

    }
    
    

    h2{
        margin-bottom: 60px;
        font-family: fantasy;
        font-size: 58px;
        letter-spacing: 2px;
    }

}