.maps{
    padding: 3vw 15.6vw;
    justify-items: center;

    
    iframe {

        @media(max-width: 767px){
            width: 39vw;
            height: 34.7vw;
        }

        @media (min-width: 768px) and (max-width: 1023px){
           width: 79vw;
            height: 59.7vw;
        }

    }
    
    

    h2{
        margin-bottom: 3.1;
        font-family: fantasy;
        font-size: 3vw;
        letter-spacing: 2px;

         @media (max-width: 767px){
            text-align: center;
            line-height: 6.8vw;
        }
    }

}