.maps{
    padding: 3vw 15.6vw;
    justify-items: center;

    
    iframe {

        @media(max-width: 767px){
            width: 304px;
            height: 266px;
        }

    }
    
    

    h2{
        margin-bottom: 60px;
        font-family: fantasy;
        font-size: 58px;
        letter-spacing: 2px;

         @media (max-width: 767px){
            text-align: center;
            line-height: 52px;
        }
    }

}