

.perfil{
    padding: 3vw 15.6vw;
    justify-items: center;
    

    h2{
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        position: relative;
        z-index: 0;
        font-family: fantasy;
        font-size: 58px;
        letter-spacing: 2px;

        @media (max-width: 768px){
            text-align: center;
            line-height: 52px;
        }

        img{
            position: absolute;
            z-index: 1;
            width: 102px;
            left: 802px;
            bottom: 11px;

            @media (max-width: 768px){
             left: 431px;
            }
        }
    }

    &__list{
        display: grid;
        gap: 23px;
        grid-template-columns:  repeat(5, 1fr);

        @media (max-width: 768px){
            padding: 0;
            display: grid;
            gap: 10px;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }

        &__item{
            perspective: 1000px;
            width: 225px;
            height: 346px;
            position: relative;

            @media (max-width: 768px){
                    width: 146px;
                    height: 206px;
            }

            &:hover{
                z-index: 10;
            }

            &:hover .flip{
                transform: rotateY(180deg);
            }
        }
       

        img{
            width: 100%;
            height: 93%;
            
            cursor: pointer;

            @media (max-width: 768px){
                    width: 100%;
                    height: 93%;
            }
            
        }
    }

    .flip__container{
        @media (max-width: 768px){
                width: 344px;
                flex-direction: column;
                display: flex;
            }

        .flip{
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.9s;
            transform-style: preserve-3d;
            position: relative;
            
            

            &__front{
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
            
            }
            &__back{
                transform: rotateY(180deg) scale(1.7);
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
            

            }

        }

       

    }
}